src/main/java/com/trungnd/mydiary/export/soap/DiaryService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ms="http://trungnd.com/diaryservice/schemas" elementFormDefault="qualified"
	targetNamespace="http://trungnd.com/diaryservice/schemas">
	<xs:element name="DiaryServiceRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Number" type="xs:integer" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DiaryServiceResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Number" type="xs:integer" />
				<xs:element name="isEven" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>